/*  External style sheet for artistOverman.html
    Author:  Isabel Overman
    Date:  11/01/2018
*/

/*
    Below are styles that are specific to the
    artistOverman.html web page
*/

body {
    background-color: #213409;
}

div#wrapper {
    background-color: #7fbd32;
}

header {
    background-color: #ae0d7a;
    letter-spacing: 7px;
}

figure {
    float: right;
    margin-left: 1.5em;
    width: 30%;
}

img {
    width: 100%;
    border: .2em solid #ae0d7a;
    box-shadow: 3px 4px 5px grey;
}

article#bio {
    padding: 1em;
    font-size: 1.1em;
}

article#contactInfo {
    border: .2em solid #ae0d7a;
    width: 11.5em;
    padding: 1em;
    box-shadow: 4px 5px 6px grey;
    background-color: #f7f4d4;
    margin-left: 23%;
}

article h2 {
    font-size: 1.2em;
    margin-top: 0.1em;
}

footer p{
    margin-top: 6em;
}