/*  External style sheet for customerComment.html
    Author:  Isabel Overman
    Date:  10/23/2018
*/

/*
    Below are styles that are specific to the
    customerComment.html web page
*/

body {
    background-color: #213409;
}

div#wrapper {
    background-color: #f7f4d4;
    border: .5em solid #ae0d7a;
}

header {
    background-color: #ae0d7a;
}

h2 {
    text-align: center;
    margin-top: 1.4em;
}

form {
    border: .4em ridge #ae0d7a;
    padding: 2em;
    background-color: #7fbd32;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

form h3 {
    font-size: 2em;
    text-align: center;
    font-variant: small-caps;
    margin-top: 0.2em;
}

form input {
    font-family: monospace;
}

input#customerName {
    width: 13em;
}

textarea#commentFromCustomer {
    width: 38em;
    height: 13em;
    border: .2em dashed #ae0d7a;
    padding: 1em;
    display: block;            /*thought textarea was a block element, it was being fussy tho,*/
    margin-left: auto;
    margin-right: auto;
}

textarea#commentFromCustomer:hover, textarea#commentFromCustomer:focus {
    border: .2em solid #ae0d7a;
}

article#controlButtons {
    text-align: center;
}

article#controlButtons input {
    background-color: #ae0d7a;
    color: wheat;
    border: .3em ridge wheat;
    padding: .3em .2em .3em .2em;
    font-family: sans-serif;
    width: 15em;
    border-radius: 6px;
}

article#controlButtons input:hover, article#controlButtons input:focus{
    box-shadow: 2px 3px 4px grey;
    border: .3em outset gold;
    color: gold;
}

article#screenshot h4 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

article#screenshot {
    margin: 3em 1em 2em 1em;
}

footer {
    text-align: center;
    margin-top: 3em;
}
