/*  External style sheet for index.html
    Author:  Isabel Overman
    Date:  05/02/2019
*/

/* headings */
#artworkHeading {
    padding-bottom: 0.5em;
}

#joinUsHeading, #whoWeAreHeading, #welcomeHeading {
    padding: 1em 1em 0.5em 1em;
}


/* main text- mostly needs spacing */

/* customer comments */
#comments {
    width: 85%;
    margin: 1em auto 0em auto;
    background-color: #e9e8e8;
    padding: 1em;
}

#commentsParaph {
    margin-top: 1em;
    margin-left: 5%
}

#comment1 {
    float: left;
    width: 27%;
    margin: 0 2% 0 5%;
}

#comment2 {
    float: left;
    width: 27%;
    margin: 0 2.5% 0 2.5%;
}

#comment3 {
    float: left;
    width: 27%;
    margin: 0 5% 0 2%;
}

#commentsLink {
    margin: 1 auto;
    clear: both;
    text-align: center;
}


/* bottom nav */
#navBottom ul {
    display: flex;
    list-style-type: none;
    margin: 1em auto 2em auto;
    justify-content: space-evenly;
    overflow: hidden; 
    font-family: 'Gentium Basic', serif;
    font-size: 1.2em;
    width: 42em;
}

#navBottom li {
    margin-left: 0.5em;
    margin-right: 0.5em;
    
    background-color: lightgrey;
}

#navBottom li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
}
  
#navBottom a:hover, #navBottom a:focus {
    background-color: #b6b6b6;
}


/* footer */
#pledge {
    padding-top: 2em;
}