/*  External style sheet for world.html
    Author:  Isabel Overman
    Date:  10/18/2018
*/

/*
    Below are styles that are specific to the
    world.html web page
*/

body {
    background-color: #7fbd32;
}

div#wrapper {
    background-color: #f7f4d4;
}

h1 {
    background-color: #ae0d7a;
}

h2 {
    text-align: center;
    text-shadow: 1px 2px 3px grey;
}

/*
    The following rules regard the images of Europe and Asia and thier
    respective captions.
*/

article#europeAndAsia {
    margin: 2em 3em 2em 3em;
}

article#europeAndAsia img#europeImage {
    width: 50%;
    margin: .5em 1em 1em 1em;
    transform: skew(-10deg, 5deg);
}

article#europeAndAsia img#asiaImage {
    width: 39.8%;
    float: right;
    margin: .5em 1em 1em 1em;
    transform: skew(10deg, -5deg);

}

article#europeAndAsia figcaption#europeCaption {
    float: left;
}

article#europeAndAsia figcaption#asiaCaption {
    float: right;
}


/*
    The following rules regard the images of South America and Afria and their
    respective captions.
*/

article#sAmericaAndAfrica {
    margin: .5em 5em 7em 5em;
}

article#sAmericaAndAfrica img#sAmericaImage {
    width: 34.5%;
    margin: .5em 1em 1em 2em;
    transform: skew(10deg, -5deg);
}

article#sAmericaAndAfrica img#africaImage {
    width: 44.2%;
    float: right;
    margin: .5em 1em 1em 1em;
    transform: skew(-10deg, 5deg);
}

article#sAmericaAndAfrica figcaption#sAmericaCaption {
    float: left;
    /*turn into buttons*/
}

article#sAmericaAndAfrica figcaption#africaCaption {
    float: right;
    /*turn into buttons*/
}


/*
    The following rules regard the links for the countries.
*/
article a:link {
    background-color: #213409;
    color: white;
    font-size: 1.3em;
    padding: .2em .3em .2em .3em;
    border: .2em outset #ae0d7a;
    margin: .5em 1em .5em 1em;
    border-radius: 4px;
    text-decoration: none;
}

article a:visited {
    color: #fef8b3;
    border: .2em outset #ae0d7a;
}

article a:hover {
    box-shadow: 2px 3px 4px grey;

}


/*
    The following rules regard the footer, which contains the home button and
    the revised statement.
*/

footer nav {
    text-align: center;
}
